@charset "UTF-8";

@import url(default.css);

body {
	background-color: #fafafa;
}

header {
	position: fixed;
	left: 0;
	width: 100%;
}

img{
	float:left;
}

.logoutbutton {
	margin-left: 20px;
	margin-right: 20px;
}

h1 {
	font-size: 24px;
	margin: 0;
}

.hoge {
	margin-top:50px;
	text-align: center;
}

.margin {
	width: 600px;
	margin: 10px auto;
	border: 1px solid #d1d1d1;
	padding: 30px;
}

.top{
	margin:0;
}
.interval{
	margin-bottom:5px;
}